body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: 50%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-image: url(http://www.knnews.co.kr/edb/nimages/2022/11/2022111008045735932.jpg);
}

.container{
    border: 10px solid white;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(247, 243, 242, 0.7);
}
.headline{
    font-weight: bold;
    font-family: "East Sea Dokdo", cursive;
}
.input-area{
    text-align: center;
    width: 50%;
    height: 3rem;
}
.button-style{
    height: 80px;
    width: 100px;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 15pt;
    font-weight: bold;
}


@media screen and (max-width:48rem) {
    body {
        background-repeat: repeat;
    }
    .input-area{
        width:80%;
    }
}